@import './theming.scss';

body {
  font-family: adobe-clean, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px;
  width: 150px;
  border: none;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $color-accent;
  color: $color-white;
}

.btn-secondary {
  background-color: $color-white;
  color: $color-accent;
}