@import './../assets/styles/screens.scss';

.coffee-img {
  width: 250px;

  @media #{$phone} {
    width: 150px;
  }
}
#grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  @media #{$phone} {
    grid-template-columns: auto auto;
  }
}