@import './../assets/styles/screens.scss';
@import './../assets/styles/theming.scss';

#image-container {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  display: flex;
  background-color: $color-secondary;
  #product-text {
    margin: auto 0 auto auto;
    color: $color-white;
  }
  #product-image {
    margin: auto auto auto 0;
    width: 200px;
    height: 200px;
    @media #{$phone} {
      width: 150px;
      height: 150px;
    }
  }
}
#specifications {
  margin-top: 250px;
  @media #{$phone} {
    margin-top: 200px;
  }
}

form {
  margin-top: 20px;

  .field {
    display: block;
    margin-top: 10px;
  }
  label {
    display: block;
    margin: 0 8px;
  }
  input, select {
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $color-gray;
    border-radius: 4px;
    box-sizing: border-box;
    width: 250px;
  }
  select {
    // TODO: add custom icon
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z' fill='%23212121'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
  }
  .btn {
    margin: 20px 8px;
  }
}
