@import './../../assets/styles/screens.scss';
@import './../../assets/styles/theming.scss';

#image-container {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  display: flex;
  background-color: $color-secondary;
  #product-text {
    margin: auto 0 auto auto;
    color: $color-white;
  }
  #product-image {
    margin: auto auto auto 0;
    width: 200px;
    height: 200px;
    @media #{$phone} {
      width: 150px;
      height: 150px;
    }
  }
}