@import './../assets/styles/screens.scss';
@import './../assets/styles/theming.scss';

.container {
  position: relative;
}

.coffee {
  &-name {
    @media #{$phone} {
      font-size: larger;
    }
  }
  &-img {
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: $color-secondary;
  
    @media #{$phone} {
      width: 150px;
      height: 150px;
    }
  }
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover {
  .coffee-img {
    opacity: 0.4;
  }
  .middle {
    opacity: 1;
  }
}